* {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  width: 60%;
  margin: 0 auto;
  font-weight: 300;
  color: #333;
}

h1,
h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
  margin: 0;
  margin-bottom: 8px;
}

p {
  line-height: 1.25;
}

button {
  border: none;
  font-size: 0.75rem;
  color: #333;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 16px 12px;
  background-color: #333;
}

header button {
  background-color: #eff2f4;
  border-radius: 2px;
  padding: 5px;
}

.logo a {
  text-decoration: none;
  font-weight: bold;
  color: #eff2f4;
}

/* Hauptnavigation postionieren */
nav {
  /* Navigation sticky positionieren */
  position: sticky;
  /* Beim Scrollen nach unten soll Navigation oben an
     Browserfenster bleiben */
  top: 0;
  /* Nötig, damit Navigation nicht von relativ
     positionierten Bildern überdeckt wird */
  z-index: 1;
  background-color: white;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 10px 12px;
  border-bottom: 2px solid transparent;
}

nav li:hover {
  border-bottom: 2px solid #333;
}

nav li a {
  text-decoration: none;
  color: #333;
}

section {
  padding: 50px 12px;
}

/* Bereich mit Fotos vergrössern */
.photos {
  /* oben und unten zusätzliches Padding 
     damit Bilder nicht über Text resp. section ragen*/
  padding: 40px 0;
}

.photos img {
  width: 40%;
  height: 200px;
  object-fit: cover;
}

/* Bild von Fizz positionieren */
.photos img.fizz-img {
  /* Bild relativ positionieren */
  position: relative;
  /* 20px nach links verschieben */
  left: 20px;
  /* 40px nach unten verschieben */
  top: 40px;
}

/* Bild von Tristana positionieren */
.photos img.tristana-img {
  /* Bild relativ positionieren */
  position: relative;
  /* 20px nach rechts verschieben */
  right: 20px;
  /* 40px nach oben verschieben */
  bottom: 40px;
}

section.heroes {
  text-align: center;
}

section.about {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  background-color: #eff2f4;
}

/* Positionieren der Unternavigation in Abschnitt About */
.about__nav {
  /* Button sticky positionieren */
  position: sticky;
  /* Beim Scrollen nach unten soll Unternavigation oben 60px
     vom Browserfenster entfernt bleiben, damit Sie von der
     Haupnavigation nicht überdeckt wird*/
  top: 60px;
  grid-column: 1 / span 2;
  height: fit-content;
}

.about__nav__item {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 8px;
  text-decoration: none;
  color: #555;
}

.about__content {
  grid-column: 3 / span 4;
}

.about__content img {
  width: 50%;
  height: 160px;
  object-fit: cover;
}

.about__content h4:first-of-type {
  margin-top: 0;
}

/* Positionierung von Close Button */
.privacy-popup {
  /* Nötig für absolute Positionierung von Close Button */
  position: relative;
  padding: 12px 24px;
  background-color: #2f3437;
}

.privacy-popup p {
  color: white;
  font-size: 0.875rem;
}

/* Positionierung von Close Button */
.privacy-popup .close-button {
  /* Button absolut positionieren */
  position: absolute;
  /* oben 20px von Pop-up entfernt */
  top: 20px;
  /* rechts 20px von Pop-up entfernt */
  right: 20px;
  padding: 0;
  background-color: #2f3437;
}

.privacy-popup .close-button img {
  width: 20px;
}

.privacy-popup p:first-of-type {
  font-weight: bold;
}

section.story {
  padding: 0;
  background-color: #eff2f4;
  text-align: center;
}

section.story img {
  width: 100%;
  margin-bottom: 40px;
  height: 300px;
  object-fit: cover;
}

section.story p {
  padding: 20px 12px 40px 12px;
}

footer {
  padding: 20px;
}

/* Positionierung von Floating Action Button */
#fab-home {
  /* FAB fix positionieren*/
  position: fixed;
  /* unten 40px von Browserfenster entfernt */
  bottom: 40px;
  /* rechts 40px von Browserfenster entfernt */
  right: 40px;
  /* optional: damit FAB in Container zu liegen kommt:
  right: calc(20% + 40px);
  z-index: 1; */
  cursor: pointer;
  text-decoration: none;
}

#fab-btn {
  width: 60px;
  height: 60px;
  background-color: violet;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
}
